
.project_wrapper{
    margin: 0 auto;
}

.heading{
    text-align: center;
}

.images_box
{   margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
}
/* .images_box a {
    display: inline-block;
    overflow: hidden;
} */
.images_box a img{
    border-radius: 10px;
    transition: all 0.5s ;
}

.images_box a img:hover{
    border-radius: 0 40px;
    scale: 1.3;
}